:root {
    --yellow:#d8fd35;
    --green:#8dc87b;
    --orange: #f95f1f;
}

body {  
    background-color: white;
    font-family: SFProDisplay,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
    margin: 0;
    overflow: hidden;
}
#mainframe {
    width: 100vw;
    height: 100vh;
    background-color: white;
}
#header {
    width: 100%;
    height: 10%;
    background-color: var(--orange);
    /* float:left; */
    text-align: center;
    color: white;
    background-image: url('img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
}

@media (orientation: landscape) {
    #mainframe {
        font-size: 1.7vh;
    }
    #left {
        width: 60%;
        height: 90%;
        background-color: white;
        float: left;
        overflow-y: scroll;
    }
    #right {
        width: 40%;
        float:left;
        background-color: white;
        display: block;
        height: 90%;
    }
    .song {
        line-height: 180%;
    }
    .switcher {
        display: none;
    }
    #header {
        background-size:contain;
    }
}
@media (orientation: portrait) {
    #mainframe {
        font-size: 1.7vh;
        width: 200vw;
    }
    #left {
        width: 50%;
        height: 90%;
        background-color: white;
        float:left;
        overflow-y: scroll;
        overflow-x: none;
    }    
    #right {
        width: 50%;
        height: 90%;
        background-color: white;
        float:left;
        /* display: none; */
    }
    .song {
        line-height: 180%;
    }
    #header {
        background-size:cover;
        width: 50%;
    }
    .switcher {
        display: block;
        
    }
}


#header h1 {
    margin: auto;
    padding: 0;
    line-height:200%;
}
#header h2 {
    margin: auto;
    padding: 0;
    line-height: 60%;
}

.right-list {
    background-color: white;
    margin: 2.5%;
    width: 95%;
    overflow-y: auto; 
    height: 60%;
}
.right-list div {
    float:left;
}

.song-list-box {
    border-bottom: 1px solid black;
}
.song-list-box-drag {
    border-top: 4px solid var(--green);
}
.song-name {
    height: 5%;
    width: 80%;
    float:left;
    background-color: white;
}
.song-name-after20 {
    color: grey;
}
#footer {
    width: 100%;
    height: 5%;
    display: none;
    background-color: white;
    float:left;
}
#nick-input {
    font-size:initial;
    width: 90%;
    margin-left: 5%;
    float:left;
    text-align: center;
    height: 5%;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    display: none;
}

.song {
    width: 98%;
    float:left;
    height:10%;
    background-color: var(--orange);
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid black;
    display:flex;
}
.song:hover {
    background-color: var(--yellow);
}
.song-unchecked {
    background-color: white;
}
.song-checked {
    background-color: var(--green);
}
.playback {
    width: 4%;
    margin-left: 3%;
    height:100%;
    float:left;
    font-size: 75%;
    border: 0;
    text-align: center;
    background-color: lightgray;
}
.playback:hover {
    background-color: var(--orange);
}
.name {
    width: 85%;
    padding-left: 2%;
    height: 100%;
    float:left;
}
.name:active {
    background-color: var(--orange);
}
.checkbox {
    width: 5%;
    height: 80%;
    text-align: center;
}

#search-box {
    width: 90%;
    height: 3%;
    font-size: initial;
    margin: 4%;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: var(--orange);
    text-align: center;
}

.nav-button {
    width: 25%;
    height: 100%;
    float: left;
}

.nav-button:hover {color: white;background-color: var(--orange);}
.nav-container {
    width: 15%;
    float:left;
    height: 100%;
    text-align: center;
    margin-right: 1%;
}

#player {
    display:none;
    width: 98%;
    height: 13%;
    margin-top: 1%;
    float:left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}
#ytplayer {
    display:none;
    width: 98%;
    height: 10%;
    margin-top: 1%;
    float:left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    border-radius: 12px;
}

.submit-button {
    width: 50%;
    margin-left: 25%;
    float:left;
    display: none;
    height: 5%;
    border: 0;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#preheader {
    margin: auto;
    width: 75%;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}
.rules-link {
    width: 100%;
    float:left;
    text-align:center;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    color:var(--orange);
    margin-bottom: 1%;
}
.rules-link:hover {
    background-color: var(--orange);
    color: white;
}
#disclaimer {
    margin: auto;
    width: 75%;
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    display: none;
}

.submit-button:hover {
    background-color: var(--orange);
}

.switcher {
    position: absolute;
    top: 2.5%;
    width: 10vw;
    height: 5%;
    background-color: var(--yellow);
}
.switcher:hover {
    background-color: var(--green);
}

.switcher-1 {
    left: 90vw;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.switcher-2 {
    left: 100vw;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}

.lp-change-input {
    position:fixed;
    width: 6%;
    height: 4%;
    top: 48%;
    left: 47%;
    font-size: 300%;
    text-align: center;
    background-color: var(--yellow);
}

#embed-iframe {
    position: absolute;
    top: 0;
    left: 0;

}

.lastpos {
    font-size: 80%;
}
.lastpos-regular {
    color: grey;
}
.lastpos-new {
    color: var(--orange);
    font-weight: bold;
}