:root {
    --yellow:#d8fd35;
    --green:#8dc87b;
    --orange: #f95f1f;
}

body {  
    background-color: white;
    font-family: "Neue World",serif;
    margin: 0;
    overflow: hidden;
}
#mainframe {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

@media (orientation: landscape) {
    #mainframe {
        font-size: 1.7vh;
    }
    #left {
        width: 60%;
        height: 90%;
        background-color: white;
        float: left;
        overflow-y: scroll;
    }
    #right {
        width: 40%;
        float:left;
        background-color: white;
        display: block;
        height: 90%;
    }
    .song {
        line-height: 275%;
    }
    .switcher {
        display: none;
    }
    #header {
        background-size:contain;
    }
}
@media (orientation: portrait) {
    #mainframe {
        font-size: 1.7vh;
    }
    #left {
        width: 100%;
        height: 90%;
        background-color: white;
        float:left;
        overflow-y: scroll;
        overflow-x: none;
    }    
    #right {
        width: 100%;
        height: 90%;
        background-color: white;
        float:left;
        display: none;
    }
    .song {
        line-height: 275%;
    }
    #header {
        background-size:cover;
    }
}

#header {
    width: 100%;
    height: 10%;
    background-color: var(--orange);
    float:left;
    text-align: center;
    color: white;
    background-image: url('img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
}

#header h1 {
    margin: auto;
    padding: 0;
    line-height:200%;
}
#header h2 {
    margin: auto;
    padding: 0;
    line-height: 60%;
}

.right-list {
    background-color: white;
    margin: 2.5%;
    width: 95%;
    overflow-y: auto; 
    height: 60%;
}
.right-list div {
    float:left;
}

.song-name {
    height: 5%;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}
#footer {
    width: 100%;
    height: 5%;
    display: none;
    background-color: white;
    float:left;
}
#nick-input {
    font-size:initial;
    width: 90%;
    margin-left: 5%;
    float:left;
    text-align: center;
    height: 5%;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    display: none;
}

.song {
    width: 98%;
    float:left;
    height: 5%;
    background-color: var(--orange);
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid black;
}
.song:hover {
    background-color: var(--orange);
}
.song-unchecked {
    background-color: white;
}
.song-checked {
    background-color: var(--green);
}
.playback {
    width: 4%;
    margin-left: 3%;
    height:100%;
    float:left;
    font-size: 75%;
    border: 0;
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    /*border-radius: 50%;*/
    text-align: center;
    background-color: lightgray;
}
.playback:hover {
    background-color: var(--yellow);
}
.name {
    width: 85%;
    padding-left: 2%;
    height: 100%;
    float:left;
}
.checkbox {
    width: 5%;
    height: 80%;
    text-align: center;
}

#search-box {
    width: 90%;
    height: 3%;
    font-size: initial;
    margin: 4%;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: var(--orange);
    text-align: center;
}

.nav-button {
    width: 10%;
    height: 100%;
    float: left;
}

.nav-button:hover {color: white;background-color: var(--orange);}
.nav-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#player {
    display:none;
    width: 98%;
    height: 13%;
    margin-top: 1%;
    float:left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

.submit-button {
    width: 50%;
    margin-left: 25%;
    float:left;
    display: none;
    height: 5%;
    border: 0;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#preheader {
    margin: auto;
    width: 75%;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}
.rules-link {
    width: 100%;
    float:left;
    text-align:center;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    color:var(--orange);
    margin-bottom: 1%;
}
.rules-link:hover {
    background-color: var(--orange);
    color: white;
}
#disclaimer {
    margin: auto;
    width: 75%;
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    display: none;
}

.submit-button:hover {
    background-color: var(--orange);
}

.switcher {
    position: absolute;
    top: 2.5%;
    width: 10vw;
    height: 5%;
    background-color: var(--yellow);
}
.switcher:hover {
    background-color: var(--green);
}

.switcher-1 {
    left: 90vw;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.switcher-2 {
    left: 0vw;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}